* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background: url(../img/bg.jpg) no-repeat center;
  height: 770px;
  background-size: cover;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

.header__name {
  margin-top: 310px;
}

.header__name h1 {
  font-family: "BebasNeueBold";
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 5.70937px;
  color: #ffffff;
}

.header__name p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.scroll__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15%;
}

.scroll {
  border: none;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 3.7px;
  color: #ffffff;
}

.scroll:hover {
  color: #26264b;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  cursor: pointer;
}

.scroll:before {
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
}

.nav {
  width: 100%;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav img {
  width: 79.53px;
  height: 18px;
  position: relative;
  right: 10%;
  top: 24px;
}

.about {
  position: relative;
  left: 18%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 1.09091px;
  margin-right: 3%;
  bottom: 24px;
  color: #00a4e5;
  text-decoration: none;
}

.home,
.services,
.work,
.contact {
  position: relative;
  left: 18%;
  bottom: 24px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 1.09091px;
  margin-right: 3%;
  color: #48555b;
  text-decoration: none;
}

@media (max-width: 660px) {
  .home,
.about,
.services,
.work,
.contact {
    margin: 0 auto;
    left: 0;
  }

  .nav img {
    display: none;
  }
}
.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  margin-top: 58px;
}

.our__story {
  text-align: center;
}

.our__story h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 2.30625px;
  color: #48555b;
}

.outline {
  width: 50px;
  height: 1px;
  margin-top: 10px;
  position: relative;
  left: 47%;
  border: 1px solid #00a4e5;
  background: #00a4e5;
}

.description__first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media (max-width: 940px) {
  .description__first {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }

  .our__story {
    text-align: center;
  }
}
.description__block__first {
  max-width: 405px;
}

@media (max-width: 940px) {
  .description__block__first {
    text-align: center;
  }
}
.noncolor__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.1875px;
  color: #48555b;
}

.description__block__first p {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  /* or 177% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1875px;
  color: #48555b;
}

.description__img {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8%;
}

@media (max-width: 940px) {
  .description__img {
    margin: 0;
    margin-top: 30px;
  }
}
.description__img img {
  margin-right: 2%;
}

.description__second {
  width: 100%;
  margin-top: 118px;
}

.description__block__second {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__second__header {
  width: 25%;
}

@media (max-width: 940px) {
  .description__block__second {
    display: -ms-grid;
    display: grid;
  }

  .description__second__header {
    width: 100%;
  }
}
.description__and__button {
  max-width: 587px;
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__and__button p {
  max-width: 405px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  /* or 173% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #48555b;
}

.description__and__button button {
  max-width: 150px;
  width: 100%;
  height: 40px;
  text-decoration: none;
  border: none;
  background: #00a4e5;
}

.description__and__button button:hover {
  background: #0f4053;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.button a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.description__second__header .outline {
  position: relative;
  left: 1%;
}

.colortext {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.170455px;
  color: #16ace8;
}

.description__section {
  width: 31%;
  margin-top: 80px;
  display: block;
  margin-right: 3%;
}

.description__second__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 940px) {
  .description__second__section {
    display: -ms-grid;
    display: grid;
    text-align: center;
  }

  .description__section {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .description__section span {
    text-align: center;
  }
}
.description__second__section span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  float: left;
  letter-spacing: 0.426667px;
  margin-bottom: 13px;
  color: #48555b;
}

.description__second__section p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  /* or 177% */
  float: left;
  letter-spacing: 0.1875px;
  color: #48555b;
}

.description__section img {
  margin-bottom: 25px;
}

@media (max-width: 940px) {
  .description__section img {
    display: block;
    margin: 0 auto;
  }
}
.last__div {
  background: url(../img/background2.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  margin-top: 115px;
}

.last__div__span__and__button {
  margin-top: 120px;
  display: block;
  text-align: center;
  width: 25%;
}

@media (max-width: 940px) {
  .last__div__span__and__button {
    width: 100%;
  }
}
.last__div__span__and__button span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555b;
  margin-bottom: 35px;
}

.last__div__span__and__button button {
  max-width: 150px;
  width: 100%;
  height: 40px;
  text-decoration: none;
  border: none;
  background: #00a4e5;
}

.last__div__span__and__button button:hover {
  background: #0e4155;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.last__div__span__and__button button a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ffffff;
}

.contact__us {
  width: 100%;
  height: 100px;
  background: #171819;
}

.mail {
  max-width: 685px;
  position: relative;
  top: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 940px) {
  .mail {
    max-width: none;
    width: 100%;
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin: 0;
    left: -20px;
  }
}
.mail span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 0.846154px;
  color: #ffffff;
  margin-right: 70px;
}

@media (max-width: 940px) {
  .contact__us {
    height: 150px;
  }

  .mail span {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20%;
    margin-bottom: 10px;
  }
}
.mail button {
  position: absolute;
  max-width: 150px;
  width: 100%;
  height: 40px;
  background: #00a4e5;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.5px;
  color: #ffffff;
}

@media (max-width: 940px) {
  .mail button {
    max-width: none;
    width: 20%;
  }
}
.mail button:hover {
  background: #0e4155;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  cursor: pointer;
}

.mail form {
  max-width: 400px;
  width: 100%;
  border: none;
}

.email {
  max-width: 250px;
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #979797;
  box-sizing: border-box;
  padding-left: 16px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 940px) {
  .email {
    max-width: none;
    width: 70%;
  }
}
.footer__main {
  width: 100%;
  background: #141a20;
}

.contact__info {
  width: 63%;
  margin: auto;
  margin-top: 42px;
}

@media (max-width: 940px) {
  .contact__info {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
  }
}
.first__column {
  max-width: 250px;
  position: relative;
  float: left;
  display: -ms-grid;
  display: grid;
  margin-right: 7%;
}

.first__column span {
  margin-bottom: 19px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.first__column img {
  margin-bottom: 15px;
}

.first__column p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #ffffff;
}

.second__column {
  position: relative;
  float: left;
  margin-right: 4%;
  max-width: 80px;
  display: -ms-grid;
  display: grid;
}

.third__column {
  position: relative;
  float: left;
  max-width: 52px;
  display: -ms-grid;
  display: grid;
  margin-right: 4%;
  margin-top: 25px;
}

.fourth__column {
  position: relative;
  float: left;
  max-width: 67px;
  display: -ms-grid;
  display: grid;
  margin-right: 4%;
  margin-top: 25px;
}

.fifth__column {
  position: relative;
  float: left;
  max-width: 141px;
  display: -ms-grid;
  display: grid;
  margin-right: 3%;
}

.contact__info a {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 25px;
  /* or 227% */
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.contact__info a:hover {
  color: #00a4e5;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.contact__info span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 10px;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.links i {
  color: #ffffff;
  margin-right: 10%;
  margin-top: 25px;
}